body{
    background-color: #efefef;
    height: 1000px;
}

.map{ 
    text-align-last: center;
    margin-top: 200px;
    margin-bottom: 100px;
}

.overlay {
    position: absolute;
    top: 50px; /* Coordenada Y del punto */
    left: 100px; /* Coordenada X del punto */
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: red;
    z-index: 1;
}

.city-information-utc {
    height: 200px;
    text-align: center;
}

i {
    color: #525252;
    position: absolute;
    left: calc(40%);
}


#utc-times {
    color: #fff; /* cambia el color del texto a blanco */
    font-family: Arial, sans-serif; /* cambia la fuente del texto */
    font-size: 20px; /* cambia el tamaño de letra a 20 píxeles */
    margin-top: 20px; /* añade un margen superior de 20 píxeles */
}